<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)/(.*)/(.*)/(.*)$  /Symfony/web/$1/$2/$3/$4 [L]
    RewriteRule ^(.*)$ Symfony/web/app_dev.php [QSA,L]
</IfModule>

