{% extends "AcmeCatalogBundle::layout.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}
       {{ test }}
		<center><h1>Каталог товаров</h1></center>
		<center>{{ welcom }}  <b>{{ user }}</b>!</center><br>
		<center>{{ auth | raw }}</center>
{% endblock %}




