{% extends "AcmeCatalogBundle::layout.html.twig" %}

{% block title %}{{ name }} -{% endblock %}

{% block body %}

  <div style="margin:0 auto; width:225px;">
        <h2>{{ id }}</h2>
  </div>   
        
{% endblock %}